# This is a basic workflow to help you get started with Actions



name: DownloadTools


# Controls when the action will run. Triggers the workflow on push or pull request

# events but only for the master branch

on:

  workflow_dispatch:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel

jobs:

  # This workflow contains a single job called "build"

  build:

    # The type of runner that the job will run on

    runs-on: ubuntu-latest


    # Steps represent a sequence of tasks that will be executed as part of the job

    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      - uses: actions/checkout@v2


      - name: Download xray

        run: rm -f xray_linux_amd64 && curl -L https://github.com/chaitin/xray/releases/latest/download/xray_linux_amd64.zip -o xray_linux_amd64.zip && unzip xray_linux_amd64.zip && rm xray_linux_amd64.zip && chmod +x xray_linux_amd64


      - name: Run xray

        run: ./xray_linux_amd64

        

      - name: Download rad

        run: rm -f rad_linux_amd64 && curl -L https://github.com/chaitin/rad/releases/latest/download/rad_linux_amd64.zip -o rad_linux_amd64.zip && unzip rad_linux_amd64.zip && rm rad_linux_amd64.zip && chmod +x rad_linux_amd64


      - name: Run rad

        run: ./rad_linux_amd64


      - name: Add & Commit

        uses: EndBug/add-and-commit@v4.4.0
